
<h2>Catalog will Be Here</h2>

<!--

    1 - create catalog.js and link it on this html
    2 - onload -> init -> fetchCatalog
    3 - ajax request
        GET
        /catalog/allProperties
    4 - on success (of ajax)
        - receive an array
        - travel the array
        - display properties on HTML

-->

